@import './vars';
@import './mixins';
@import './null';

.container {
    max-width: $container + $gap * 2rem;
    padding: 0 2rem;
    margin: 0 auto;
}

.wrapper {
    position: relative;
    overflow-x: hidden;
}

.grid {
    display: grid;
}