.slick {
    &-dots {
        position: absolute;
        @extend %pos-center-x;
        bottom: 0;

        li {
            display: inline-block;
            margin: 0 0.25rem;
        }

        button {
            width: 1rem;
            height: 1rem;
            border-radius: 50%;
            background: #e0e0e0;
            padding: 0;
            font-size: 0;
        }

        .slick-active button {
            background: $orange-gradient;
        }
    }

    &-slide {
        outline: none;
    }
}

.slider-btn {
    position: absolute;
    top: calc(50% - 4.2rem);
    z-index: 100;
    @include round(4.2rem, transparent);
    border: 0.2rem solid $orange;
    @extend %flex-center;
    transition: .3s background-color;

    &:hover {
        background-color: $orange;

        svg path {
            stroke: #fff;
        }
    }

    &--prev {
        left: -7.2rem;
    }

    &--next {
        right: -7.2rem;
    }

    svg path {
        transition: .3s stroke;
    }
}